
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    <script>
        var username = '@ViewBag.UserName'
        if (username != '') {
            alert("Login successful.user: " + username)
            window.location.href="@Url.Action("About", "Home")";
        }
    </script>
</head>
<body>
    <h2>@ViewBag.Message</h2>
    <div class="container">
        <div class="inner">
            <form method="post" action="@Url.Action("Login","Auth")">
                <div class="card">
                    <div class="card-header" style="text-align:center">
                        Login
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Email</label>
                            <input type="text" name="txtUsername" class="form-control" id="exampleFormControlInput1" placeholder="Username">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Password</label>
                            <input type="password" name="txtPassword" class="form-control" id="exampleFormControlInput1" placeholder="password">
                        </div>
                        <input type="submit" class="btn btn-primary" value="Submit" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
