ASP.NET/module1/liveclass1/bin/
ASP.NET/module1/liveclass1/obj/
ASP.NET/module1/liveclass1/.vs/
ASP.NET/module1/liveclass2/.vs/
ASP.NET/module1/liveclass2/bin/
ASP.NET/module1/liveclass2/obj/
ASP.NET/module3/liveClass1/.vs/
ASP.NET/module3/liveClass1/bin/
ASP.NET/module3/liveClass1/obj/
ASP.NET/module3/LiveClass2/.vs/
ASP.NET/module3/LiveClass2/obj/
ASP.NET/module3/LiveClass2/bin/
ASP.NET/module3/WFA_calculator/.vs/
ASP.NET/module3/WFA_calculator/bin/
ASP.NET/module3/WFA_calculator/obj/
ASP.NET/Exam week-1/Livetest/livetest/.vs/
ASP.NET/Exam week-1/Livetest/livetest/bin/
ASP.NET/Exam week-1/Livetest/livetest/obj/
