.all_items{
    padding: 100px;
	width: 300px;
	border: 1px solid black;
    background-color:white;
	justify-content: center;
	position: relative;
    left: 350px;
	right: 350px;
    top: 30px;  
    bottom:10px;	
}
.heading{
    justify-items: center;
    font-family: sans-serif;
    
}
.input_div input{
    margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
    height: 30px;
    width: 300px;
    border: 1px solid gray;
  
}
.input_div input::placeholder{
    font-size: 16px; 
}
.login_btn{
    margin-top: 20px;
    margin-left: 0px;
}
.login_btn button{
    height: 40px;
    width: 305px;
    background-color: #1877F2;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: bolder;
	border-radius: 5px;
   
}

  
.forget_btn{
    margin-top: 20px;
    margin-left: 100px;
	color: #1877F2;
}

.create_btn{
    margin-top: 40px;

}
.create_btn button{
    background-color: #42B72A;
    color: white;
    height: 40px;
    width: 200px;
    justify-content: center;
    border: none;
    font-weight: bold;
    font-size: 17px;
    border-radius: 5px;
    margin-left: 50px;
}
