
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    
    <style>
        
        .inner {
            height: 300px;
            width: 25%;
            border: 1px solid #808080;
            margin: auto;
            position: absolute;
            left: 0px;
            right: 0px;
            top: 0px;
            bottom: 0px;
        }


        #forget{
            margin-top: 10px;
            text-decoration: none;
            display: block;
            height: 10px;
            text-align: center;
            justify-content: rcenter;
        }
    </style>
    <script>
        function SignUp() {
            window.location.href = '@Url.Action("SignUp","Auth")';
        }
    </script>
</head>
<body>
    <h2>@ViewBag.Message</h2>
    <div class="container">
        <div class="inner">
            <form method="post" action="@Url.Action("Login","Auth")">
                <div class="card">
                    <div class="card-header" style="text-align:center">
                        Login
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Email</label>
                            <input type="text" name="txtUsername" class="form-control" id="exampleFormControlInput1" placeholder="Username">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Password</label>
                            <input type="password" name="txtPassword" class="form-control" id="exampleFormControlInput1" placeholder="password">
                        </div>
                        <input type="submit" class="btn btn-primary" value="Submit" />
                        <a href='@Url.Action("Forget","Auth")' id="forget">Forget Password?</a><br />
                        <input type="button" class="btn btn-primary" value="Sign Up" onclick="SignUp()" style="display:block;margin:auto"/>
                        
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
