

<script>
	$(document).ready(function () {
		// Use a URL that returns multiple products
		$.get('https://dummyjson.com/products', function (response) {
			$.each(response.products, function (index, obj) {
				$('#dvProducts').append(`
					  <div class="col col-sm">
						  <div class="card" style="width: 18rem;">
							  <img src="${obj.thumbnail}" class="card-img-top" alt="...">
							  <div class="card-body">
								<h5 class="card-title">${obj.title}</h5>
								<p class="card-text">${obj.description}</p>
								<a href="#" class="btn btn-primary">${obj.price}</a>
							  </div>
						  </div>
					  </div>
				`);
			});
		});
	});
</script>



<div class="row" id="dvProducts">
</div>

